.btn-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 12;
    background-color: white;
    width: 37px;
    height: 37px;
    border-radius: 50%;

    &_left {
        left: 0;
        margin-left: 15px;

        &:hover{
            background-color: #F15525;
        }
    }

    &_right {
        right: 0;
        margin-right: 15px;
        
        &:hover {
            background-color: #F15525;
        }
    }
}