.contacts {
    
    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__content_left {
    }

    &__content_name {
        display: flex;
        flex-wrap: nowrap;
    }

    &__content_title {
        font-family: 'Gilroy', sans-serif;
        font-size: 36px;
        font-weight: 500;
        line-height: 37.58px;
    }

    &__content_subtitle {
        font-family: 'Gilroy', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #8E8E8E;
        margin-left: 10px;
    }

    &__content_social {
        margin-top: 30px;
        max-width: 188px;
        display: flex;
        justify-content: space-between;
    }

    &__content_center {
        margin-left: 260px;
    }

    &__content-link {
        font-family: 'Gilroy', sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 13.57px;
        color: #22253B;
        padding: 10px;
    }

    &__phone {
        font-family: 'Gilroy', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        text-align: left;
        color: #38BFF2;
    }

    &__email {
        font-family: 'Gilroy', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        color: #22253B;
        margin-top: 5px;
    }
}