.support {

    margin-top: 50px;

    &__row {
        display: flex;
        gap: 30px;
    }

    &__image{
        display: flex;
        align-items: flex-start;
        width: 397px;
        min-width: 200px;
        height: 313px;
    }

    &__img {
        border-radius: 40px;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    &__item {
        max-width: 730px;
        border-radius: 40px;
        background-color: #EAF2F5;
        padding: 60px 100px;
    }
}